Body  {
  background: rgb(199, 153, 241);
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}


header  {

 Background: rgb(199, 153, 241);
 background-position: top;
 text-align: center;
 margin: 0; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;

}
ul {
  text-align: center;

}
h1  {
  color: wheat;
}
a {
 color: green;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 20px;
  }

a:hover {
  text-decoration: underline;
}
       
link. {
  display: inline-block;
  background-color: red;}

nav ul  {
 padding:  0;
 text-align: center;
 }
nav link  {
  display: inline-block;
  block-size: 3px;
  margin: 10px;
  text-align: center;
  }

nav h1  {
  color: wheat;
 

}

.index-layout {
max-width: 2000px;
  background-image: url(https://i.pinimg.com/originals/ab/2c/56/ab2c567fbd5e65435a4b117f9818ec99.gif);
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
  

}


.stock-layout {
  max-width: 1300px;
  background-image: url(https://i.pinimg.com/originals/ab/2c/56/ab2c567fbd5e65435a4b117f9818ec99.gif);
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

.stock-layout img {
  height: 250px;
  width: 250px;
  border: 1px solid rgb(199, 153, 241);
        border-radius: 50%;
        box-shadow: white 0 0 10px;
        width: 200px;
}


.one-two {
  flex: 1;
  order: 1;
}

.three-four {
  flex: 1;
  order: 2;
}

.five-six {
  flex: 1;
  order: 3;
}
.info-layout {
  max-width: 1300px;
 background-image: url(https://i.pinimg.com/originals/ab/2c/56/ab2c567fbd5e65435a4b117f9818ec99.gif);
 margin: 40px auto 0 auto;
 line-height: 1.65;
  padding: 20px 50px;

}

        